*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background:linear-gradient(90deg,rgba(65,185,131,1) 0%,rgba(0,212,255,1)100%);
    height:100vh;
    width: 100vw;
}

.board{
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3,auto);
}

.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before{
    opacity: 0.5;
}


.cell{
    width: 100px;
    height: 100px;
    border:2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cell.x,
.cell.circle{
    cursor: not-allowed;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}

/* x */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before{
    content: "";
    height: calc(100px * 0.15);
    width: calc(100px * 0.9);
    background: white;
    position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform:rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
    transform:rotate(-45deg);
}

/* circle */

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before{
    content: "";
    height: calc(90px * 0.9);
    width: calc(90px * 0.9);
    background: white;
    position: absolute;
    border-radius:50%;
}


/* mensagem de vitoria */
.winning-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    flex-direction:column;
}

.winning-message button{
    background-color: rgba(65,185,131,1);
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 2px;
    padding: 10px 15px;
    border: none;
    margin-top:16px;
    color: white;
    transition: 0.5s;
}

.winning-message button:hover{
    color: rgba(65,185,131,1);
    background-color: white;
    transform: scale(1.03);
}

.winning-message p {
    color: white;
    font-size: 5rem;
}

.show-winning-message{
    display: flex;
}